@model TopCoder.Analysis.Web.Models.Rounds.ListModel
@{
    ViewBag.Title = "Rounds List";
}

<script type="text/javascript">
    $(function () {
        var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));

        var control = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'control',
            options: {
              filterColumnIndex: 0,
              ui: {
                chartType: 'LineChart',
                chartOptions: { pointSize: 1 },
                chartView: { columns: [0, 1] },
                minRangeSize: 86400000 // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
              }
            }
        });
        
        var totalCodersChart = new google.visualization.ChartWrapper({
            chartType: 'LineChart',
            containerId: 'totalCodersChart',
            options: { title: 'Total Coders Registered' },
            view: { columns: [0, 1]}
        });
        
        var cfChart = new google.visualization.ChartWrapper({
            chartType: 'ScatterChart',
            containerId: 'cfChart',
            options: { pointSize: 1, title: 'Competition Factor Per Round' },
            view: { columns: [0, 2, 3]}
        });
        
        var ratMeanChart = new google.visualization.ChartWrapper({
            chartType: 'LineChart',
            containerId: 'ratMeanChart',
            options: { title: 'Registered Coders Ratings Mean Per Round' },
            view: { columns: [0, 4]}
        });
        
        var ratDevianceChart = new google.visualization.ChartWrapper({
            chartType: 'LineChart',
            containerId: 'ratDevianceChart',
            options: { title: 'Registered Coders Ratings Standard Deviation Per Round' },
            view: { columns: [0, 5]}
        });
        
        var ratDiffChart = new google.visualization.ChartWrapper({
            chartType: 'ScatterChart',
            containerId: 'ratDiffChart',
            options: { pointSize: 1, title: 'TC2 Ratings Diff Mean' },
            view: { columns: [0, 6, 7]}
        });
        
        var volDiffChart = new google.visualization.ChartWrapper({
            chartType: 'ScatterChart',
            containerId: 'volDiffChart',
            options: { pointSize: 1, title: 'TC2 Volatility Diff Mean' },
            view: { columns: [0, 8, 9]}
        });
        
        var ratDiffSumChart = new google.visualization.ChartWrapper({
            chartType: 'ScatterChart',
            containerId: 'ratDiffSumChart',
            options: { pointSize: 1, title: 'New Ratings Diff Sum' },
            view: { columns: [0, 10]}
        });
        
        var ratDiffSumRelChart = new google.visualization.ChartWrapper({
            chartType: 'ScatterChart',
            containerId: 'ratDiffSumRelChart',
            options: { pointSize: 1, title: 'New Ratings Diff Sum Relative to Coder Count' },
            view: { columns: [0, 11]}
        });

        var parseDate = function(input) {
            var parts = input.match( /(\d+)/g );
            return new Date(parts[0], parts[1] - 1, parts[2]); // months are 0-based
        };

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Round');
        data.addColumn('number', 'Total Coders');
        data.addColumn('number', 'Div 1 Competition Factor');
        data.addColumn('number', 'Div 2 Competition Factor');
        data.addColumn('number', 'Ratings Mean');
        data.addColumn('number', 'Ratings Standard Deviation');
        data.addColumn('number', 'Div 1 Ratings Diff Mean');
        data.addColumn('number', 'Div 2 Ratings Diff Mean');
        data.addColumn('number', 'Div 1 Volatility Diff Mean');
        data.addColumn('number', 'Div 2 Volatility Diff Mean');
        data.addColumn('number', 'New Ratings Diff Sum');
        data.addColumn('number', 'New Ratings Diff Sum Rel');
        data.addRows([
                @foreach (var r in Model.Rounds)
            {
                <text> [parseDate('@r.Date.ToString("yyyy-MM-dd")'), @r.GlobalCodersCount, @r.DivOneCompetitionFactor.ToString().Replace(",", "."), @r.DivTwoCompetitionFactor.ToString().Replace(",", "."), @r.GlobalRatingsMean.ToString().Replace(",", "."), @r.GlobalRatingsDeviation.ToString().Replace(",", "."), 
                @r.DivOneTcRatingsDiffMean.ToString().Replace(",", "."), @r.DivTwoTcRatingsDiffMean.ToString().Replace(",", "."), @r.DivOneTcVolatilityDiffMean.ToString().Replace(",", "."), @r.DivTwoTcVolatilityDiffMean.ToString().Replace(",", "."),
                @r.NewRatingsDiffSum, @(((double)r.NewRatingsDiffSum / r.GlobalCodersCount).ToString().Replace(",", ".")) ] </text>@(r != Model.Rounds.Last() ? "," : string.Empty) 
            }
        ]);

        dashboard
            .bind(control, totalCodersChart)
            .bind(control, cfChart)
            .bind(control, ratMeanChart)
            .bind(control, ratDevianceChart)
            .bind(control, ratDiffChart)
            .bind(control, volDiffChart)
            .bind(control, ratDiffSumChart)
            .bind(control, ratDiffSumRelChart);
        
        dashboard.draw(data);
    });
</script>

<h2>Rounds List</h2>

<div id="dashboard" style="width: 80%; float: right;">
    <div id="control" style="margin: auto; height: 50px; width: 50%;"></div>
    <div id="cfChart" style="width: 48%; height: 200px; float: right;"></div>
    <div id="totalCodersChart" style="width: 48%; height: 200px;"></div>
    <div id="ratDevianceChart" style="width: 48%; height: 200px; float: right;"></div>
    <div id="ratMeanChart" style="width: 48%; height: 200px;"></div>
    
    <div id="ratDiffSumRelChart" style="width: 48%; height: 200px; float: right;"></div>
    <div id="ratDiffSumChart" style="width: 48%; height: 200px;"></div>
    
    <div id="volDiffChart" style="width: 48%; height: 200px; float: right;"></div>
    <div id="ratDiffChart" style="width: 48%; height: 200px;"></div>

</div>

<div style="width: 17%;">
    @{ Html.RenderPartial("RoundsTablePart", Tuple.Create(false, Model.Rounds.AsEnumerable())); }
</div>
