@model Tuple<int, TopCoder.Analysis.Web.Models.Rounds.SingleModel>
@{
    var division = Model.Item1;
    var results = Model.Item2.RoundResults;
        
    var sortedDivResults = results.Where(x => x.Division == division).OrderByDescending(x => x.OldRating).ToList();
    var bucketedDivRatings = results.Where(x => x.Division == division).GroupBy(x => x.OldRating / 100).Select(g => new { Bucket = g.Key * 100, Count = g.Count() }).OrderBy(x => x.Bucket).ToList();
    var bucketedDivVols = results.Where(x => x.Division == division).GroupBy(x => x.OldVolatility / 20).Select(g => new { Bucket = g.Key * 20, Count = g.Count() }).OrderBy(x => x.Bucket).ToList();
}

<script type="text/javascript">
    $(function () {

        var erDataTable = [
            @foreach (var rr in sortedDivResults.Select((x, i) => new { X = x, I = i })) {
                <text> [@rr.I, @rr.I, @rr.X.Tc_ExpectedRank.ToString().Replace(",", ".")] </text>@(rr.X != sortedDivResults.Last() ? "," : string.Empty)
            }
        ];
      
        var ratDataTable = [
            @foreach (var x in bucketedDivRatings) {
                <text> [@x.Bucket, @x.Count] </text>@(x != bucketedDivRatings.Last() ? "," : string.Empty)
            }
        ];
     
        var volDataTable = [
            @foreach (var x in bucketedDivVols) {
                <text> [@x.Bucket, @x.Count] </text>@(x != bucketedDivVols.Last() ? "," : string.Empty)
            }
        ];

        var div = @division;
        
        var erChart = new google.visualization.ScatterChart(document.getElementById('erChart' + div));

        var erData = new google.visualization.DataTable();
        erData.addColumn('number', 'Index');
        erData.addColumn('number', 'Rank from sorted rating');
        erData.addColumn('number', 'Expected Rank');
        erData.addRows(erDataTable);
        
        erChart.draw(erData, { pointSize: 1, title: 'Expected rank vs rank', height: 200, width: 1000 });
        
        
        var ratChart = new google.visualization.AreaChart(document.getElementById('ratChart' + div));

        var ratData = new google.visualization.DataTable();
        ratData.addColumn('number', 'Rating');
        ratData.addColumn('number', 'Count');
        ratData.addRows(ratDataTable);
        
        ratChart.draw(ratData, { pointSize: 2, title: 'Ratings distribution', height: 200, width: 1000 });
        

        var volChart = new google.visualization.AreaChart(document.getElementById('volChart' + div));

        var volData = new google.visualization.DataTable();
        volData.addColumn('number', 'Volatility');
        volData.addColumn('number', 'Count');
        volData.addRows(volDataTable);
        
        volChart.draw(volData, { pointSize: 2, title: 'Volatility distribution', height: 200, width: 1000 });

    });
</script>

<div id="ratChart@(division)" ></div>
<div id="volChart@(division)" ></div>
<div id="erChart@(division)" ></div>

@{ Html.RenderPartial("RoundResultsTablePart", results); }
