@model TopCoder.Analysis.Web.Models.Coders.SingleModel
@{
    ViewBag.Title = "Coder " + Model.Coder.Handle;
}
@{
    var bucketedActPerf = Model.RoundResults.GroupBy(x => (int)(x.Tc_ActualPerf / 0.1)).Select(g => new { Bucket = (g.Key + 1) * 0.1, Count = g.Count() }).ToList();
}

<script type="text/javascript">
    $(function () {
        var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));

        var control = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'control',
            options: {
                filterColumnIndex: 0,
                ui: {
                    chartType: 'LineChart',
                    chartOptions: { pointSize: 1 },
                    chartView: { columns: [0, 1] },
                    minRangeSize: 86400000 // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
                }
            }
        });

        var ratingsChart = new google.visualization.ChartWrapper({
            chartType: 'LineChart',
            containerId: 'ratingsChart',
            options: { title: 'Ratings' },
            view: { columns: [0, 1, 4, 6]}
        });
        
        var volatilityChart = new google.visualization.ChartWrapper({
            chartType: 'LineChart',
            containerId: 'volatilityChart',
            options: { title: 'Volatility' },
            view: { columns: [0, 2, 5, 7]}
        });
        
        var weightChart = new google.visualization.ChartWrapper({
            chartType: 'AreaChart',
            containerId: 'weightChart',
            options: { title: 'Competition Weight' },
            view: { columns: [0, 3]}
        });
        
        var parseDate = function(input) {
            var parts = input.match( /(\d+)/g );
            return new Date(parts[0], parts[1] - 1, parts[2]); // months are 0-based
        };

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Round');
        data.addColumn('number', 'Rating');
        data.addColumn('number', 'Volatility');
        data.addColumn('number', 'Competition Weight');
        data.addColumn('number', 'Rating 2');
        data.addColumn('number', 'Volatility 2');
        data.addColumn('number', 'Rating 3');
        data.addColumn('number', 'Volatility 3');
        data.addRows([
            @foreach (var rr in Model.RoundResults.Where(r => r.IsRated))
            {
                <text> [parseDate('@rr.Round.Date.ToString("yyyy-MM-dd")'), @rr.NewRating, @rr.NewVolatility, @rr.Tc_Weight.ToString().Replace(",", "."), @rr.Tc2_NewRating, @rr.Tc2_NewVolatility, @rr.Tc3_NewRating, @rr.Tc3_NewVolatility] </text>@(rr != Model.RoundResults.Last() ? "," : string.Empty)
            }
        ]);

        dashboard
            .bind(control, ratingsChart)
            .bind(control, volatilityChart)
            .bind(control, weightChart);
        
        dashboard.draw(data);
        
         var actPerfDataTable = [
            @foreach (var x in bucketedActPerf) {
                <text> [@x.Bucket.ToString().Replace(",", "."), @x.Count] </text>@(x != bucketedActPerf.Last() ? "," : string.Empty)
            }
        ];
        
        var actPerfChart = new google.visualization.ColumnChart(document.getElementById('actPerfChart'));

        var actPerfData = new google.visualization.DataTable();
        actPerfData.addColumn('number', 'Actual Performance');
        actPerfData.addColumn('number', 'Count');
        actPerfData.addRows(actPerfDataTable);
        
        actPerfChart.draw(actPerfData, { pointSize: 2, title: 'Actual Performance distribution' });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('.coder-col').remove();
    });
</script>


<h2>Coder @Model.Coder.Handle</h2>

@{ Html.RenderPartial("CodersTablePart", new [] { Model.Coder }); }

<h3>Coder's Timeline</h3>

<div id="dashboard">
    <div id="control" style="width: 50%; height: 40px; margin: auto;"></div>
    <div id="volatilityChart" style="width: 50%; height: 200px; float: right;"></div>
    <div id="ratingsChart" style="width: 50%; height: 200px;"></div>
    <div id="actPerfChart" style="width: 50%; height: 200px; float: right;"></div>
    <div id="weightChart" style="width: 50%; height: 200px;"></div>
</div>

<h3>Coder's Round Results</h3>

@{ Html.RenderPartial("RoundResultsTablePart", Model.RoundResults); }
