@using TopCoder.Analysis.Data
@model IEnumerable<Coder>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th> Row count: </th>  
                <th> @Model.Count() </th>  
            </tr>
            <tr>
                <th> Coder handle </th>  
                <th> TC Rating </th>  
                <th> TC Volatility </th>  
                <th> ELO Rating </th>  
                <th> Rounds count </th>  
                <th> First round </th>  
                <th> Last round </th>  
            </tr>
        </thead>

        <tbody>
        @foreach (var coder in Model)
        {
            <tr>
                <td> @Html.ActionLink(coder.Handle, "Single", "Coders", new { handle = coder.Handle }, null) </td>  
                <td> @coder.Tc_Rating </td>  
                <td> @coder.Tc_Volatility </td>  
                <td> @coder.Elo_Rating </td>  
                <td> @coder.RoundsCount </td>  
                <td> @coder.FirstRound.Name <br/> @coder.FirstRound.Date.ToShortDateString() </td>  
                <td> @coder.LastRound.Name <br/> @coder.LastRound.Date.ToShortDateString() </td>  
            </tr>
        }   
        </tbody>
    </table> 
}
else
{
    <p> List is empty. </p>
}