@using TopCoder.Analysis.Data
@model IEnumerable<RoundResult>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th> Row count: </th>
                <th> @Model.Count() </th>
            </tr>
            <tr>
                <th class="coder-col"> Coder </th>
                <th class="round-col"> Round </th>
                
                <th class="round-col"> Div </th>
                <th class="round-col"> Div Coders </th>

                <th> Place </th>
                <th> Points </th>
                <th> Rated Rounds </th>
                
                <th> Rat Old </th>
                <th> Rat New </th>

                <th> Vol Old </th>
                <th> Vol New </th>
                
                <th> Act Rank </th>
                <th> Exp Rank </th>
                <th> Act Perf </th>
                <th> Exp Perf </th>

                <th> W </th>
                <th> K </th>
                <th> Cap </th>

                <th> Rat </th>
                <th> Vol </th>
                
                <th> Rat Diff </th>
                <th> Vol Diff </th>

            </tr>
        </thead>

        <tbody>
        @foreach (var rr in Model)
        {
            <tr @Html.Raw(rr.IsRated ? string.Empty : @"class=""ui-state-disabled"" title=""Unrated round""")>
                
                <td class="coder-col"> @Html.ActionLink(rr.Coder.Handle, "Single", "Coders", new { handle = rr.Coder.Handle }, null) </td>  
                <td class="round-col"> @Html.ActionLink(rr.Round.Name, "Single", "Rounds", new { roundId = rr.Round.Id }, null) </td>
               
                <td class="round-col"> @rr.Division </td>
                <td class="round-col"> @((rr.Division == 1) ? rr.Round.DivOneCodersCount : rr.Round.DivTwoCodersCount) </td>
               
                <td> @rr.DivisionPlace </td>
                <td> @ColorCoding.GoodBad(rr.Points, 0) </td>
                <td> @rr.NumberOfRatings</td>

                <td> @ColorCoding.RatingClass(rr.OldRating) </td>
                <td> @ColorCoding.RatingClass(rr.NewRating) </td>

                <td> @rr.OldVolatility </td>
                <td> @rr.NewVolatility </td>

                <td> @rr.Tc_ActualRank.ToString("0.#") </td>
                <td> @rr.Tc_ExpectedRank.ToString("0.###") </td>
                
                <td> @rr.Tc_ActualPerf.ToString("0.###") </td>
                <td> @rr.Tc_ExpectedPerf.ToString("0.###") </td>
                
                <td> @rr.Tc_Weight.ToString("0.###") </td>
                <td> @rr.Tc_KFactor.ToString("0.###") </td>
                <td> @rr.Tc_Cap.ToString("0.###") </td>

                <td> @ColorCoding.RatingClass(rr.Tc_NewRating) </td>
                <td> @rr.Tc_NewVolatility </td>
                
                <td> @(rr.Tc_NewRating - rr.NewRating) </td>
                <td> @(rr.Tc_NewVolatility - rr.NewVolatility) </td>

            </tr>
        }   
        </tbody>
    </table> 
}
else
{
    <p> List is empty. </p>
}